<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<title>{% block bigtitle %} {% endblock %}</title>
  {% include 'header.html' %}

  {% if article %}

<!-- Add canonical link to solve Page Indexing issues
––––––––––––––––––––––––––––––––––––––––––––––––- -->
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />
  {% endif%}
</head>
<body class="code-snippets-visible">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

      {% include 'navbar.html' %}

    <section class="header">
      <h2><a class="title-link" href="{{ SITEURL }}">{{SITENAME}}</a></h2>
    </section>

    {% block content %}
    {% endblock %}

  </div>

  <footer>

    {% include 'footer.html' %}

  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
