<meta charset="utf-8">
{% if not article %}
<meta name="description" content="Guru Das Srinagesh's personal website">
{% endif %}
<meta name="author" content="{{AUTHOR}}">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Source+Code+Pro&display=swap" rel="stylesheet">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/skeleton.css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/custom.css">

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/github-prettify-theme.css">
<script src="{{ SITEURL }}/theme/js/site.js"></script>

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/favicon.png">
