<div class="navbar-spacer"></div>
<div class="container-nav">
  <nav class="navbar">
    <div class="container-center">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="{{ SITEURL }}/#" data-popover="#meNavPopover">Me</a>
          <div id="meNavPopover" class="popover">
            <ul class="popover-list">
              {% for section in SECTIONS %}
              <li class="popover-item"><a class="popover-link" href="{{ SITEURL }}/#{{ section }}">{{ section.capitalize() }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li class="navbar-item"><a class="navbar-link" href="{{ SITEURL }}/now/">Now</a></li>
        <li class="navbar-item"><a class="navbar-link" href="{{ SITEURL }}/uses/">Uses</a></li>
        <li class="navbar-item"><a class="navbar-link" href="{{ SITEURL }}/blog/">Blog</a></li>
      </ul>
    </div>
  </nav>
</div>
