{% extends "base.html" %}
{% block bigtitle %}Archives - {{ SITENAME }}{% endblock %}
{% block content %}
<div class="page-section">
    <h4>Archives for {{ period | reverse | join(' ') }}</h4>
    <ul class="row-list">
    {% for article in dates %}
        <li class="row">
            <div class="two columns">{{ article.locale_date }}</div>
            <div class="ten columns"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
