{% extends "base.html" %}
{% block bigtitle %}Archives - {{ SITENAME }}{% endblock %}
{% block content %}
<div class="page-section">
    <h4>Archives for {{ period | reverse | join(' ') }}</h4>
    <dl>
    {% for article in dates %}
        <div>
          <div class="row">
            <div class="two columns">{{ article.locale_date }}</div>
            <div class="ten columns"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
	  </div>
	</div>
    {% endfor %}
    </dl>
</div>
{% endblock %}
