{% extends "base.html" %}
{% block bigtitle %} Articles tagged "{{ tag }}" - {{ SITENAME }}{% endblock %}
{% block content %}

<div class="page-section">
<h4><tt class="tag">{{ tag }}</tt></h4>
    <ul class="row-list">
        {% for article in articles %}
        <li class="row">
            <div class="three columns">{{ article.locale_date }}</div>
            <div class="nine columns"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
