{% extends "base.html" %}
{% block bigtitle %}All tags - {{ SITENAME }}{% endblock %}
{% block content %}

<div class="page-section">
<h4>All Tags</h4>
    <ul class="row-list">
        <li class="row">
            <div class="six columns" style="text-align: right">Tag</div>
            <div class="six columns">Number of articles</div>
        </li>
        {% for tag, articles in tags|sort(reverse = true) %}
        <li class="row">
            <div class="six columns" style="text-align: right">
                <tt><a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag.slug }}</a></tt>
            </div>
            <div class="six columns">{{ articles|length }}</div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
