{% extends "base.html" %}
{% block bigtitle %}Today I Learned - {{ SITENAME }}{% endblock %}
{% block content %}

<div class="page-section">
    <h4>Today I Learned</h4>
    <ul class="row-list">
        {% for article in dates %}
        {% if article.category == "til" %}
        <li class="row">
            <div class="three columns">{{ article.locale_date }}</div>
            <div class="nine columns"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}
